{% extends "base.html" %}
{% block style %}
<style>

body{
  background-color: #dedeff;
}



</style>
{% endblock %}
{% block pagejs %}
<script language="JavaScript">

    function dropdown_update (inputId, buttonId, inputVal, buttonVal) {
        $('#' + inputId).val(inputVal);
        $('#' + buttonId).html(buttonVal);
    }

    function lab_update (meeting_time) {
        $('#labNum').html('Lab ' + lab_info[meeting_time]);
    }

    function generate_csv () {
        // get /roster-csv&sec-id which will yield a downloadable csv file
        var url = '/roster-csv';
        var secId = $('#labInput').val();
        url += '?secId='+secId
        location.href = url;
    }

    function add_section_row () {
        $('#sectionsTable').append('<tr><td><input name="labNums[]" type="text"/></td> <td><input name="labTitles[]" type="text"/></td></tr>');
    }

    function termUpdate (term) {
        dropdown_update('term2', 'termButton2', term, term);
        dropdown_update('termInput', 'termButton', term, term);
        location.href = '?term='+term+'&year='+$('#yearpick').val();
    }

    function formUpdate () {
        $('#rosterForm').submit()
    }


    $(function () {
        bsCustomFileInput.init()
        $('#addSectionButton').click(add_section_row);
        $('#csvButton').click(generate_csv);
        $('.yearpick').datepicker({
            minViewMode: 2,
            format: 'yyyy'
            });
        $('#yearpick').datepicker().on('changeYear', function (e) {
            $('#yearpick2').datepicker('update', e.date);
            location.href = '?year='+e.date.getFullYear()+'&term='+$('#term2').val();
            // TODO calendar doesn't close correctly - need to click background.
            // TODO update page to have correct sections for selected year
            } );
        $('#yearpick2').datepicker().on('changeYear', function (e) {
            $('#yearpick').datepicker('update', e.date);
            location.href = '?year='+e.date.getFullYear()+'&term='+$('#term2').val();
            // TODO update page to have correct sections for selected year
        });
        $('#datepick').datepicker({}).on('changeDate',
            function(e) {
<!--            document.getElementById('lab-date-form').submit();-->
        });
    });

</script>
{% endblock %}
{% block content %}
<head>
    <title>{{ title }} - PartnerGen Admin</title>
</head>

<body>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link {% if tab=='rosters' %}active{% endif %}" data-toggle="tab" href="#rosterTab">Roster Setup</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tab=='sections' %}active{% endif %}" data-toggle="tab" href="#sectionTab">Sections Setup</a>
        </li>
    </ul>
    <div class="container">

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="rosterTab" class="container tab-pane {% if tab=='rosters' %}active{% else %}fade{% endif %}"><br>
                <form id='rosterForm' method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="tab" value="roster"/>
                    <p id="message"></p>
                    <div class="row">
                        <div class="col-2">
                            <input id='yearpick2' name='year' class="date form-control yearpick"
                                   value="{% if section %}{{ section.year }}{% else %}{{year}}{% endif %}" placeholder="Year" style="width: 100px;" type="text">
                        </div>
                        <div class="col-2">
                            <input id="term2" name="term" value='{% if section %}{{ section.term }}{% else %}{{ term }}{% endif %}' type="hidden">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="termButton2"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% if section %}
                                        {{ section.term }}
                                    {% else %}
                                        {{ term }}
                                    {% endif %}

                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" onclick="termUpdate('spring');">spring</a>
                                    <a class="dropdown-item"  onclick="termUpdate('fall');">fall</a>
                                </div>
                            </div>
                        </div>
                        <input id="labInput" name="labId" value='{% if section %} {{ section.id }} {% endif %}' type="hidden">
                        <div class="col-5">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="labButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% if section %} {{ section.full_title }}
                                    {% else %}
                                        {% if sections|length == 0 %} No Sections {% else %}Select Lab {% endif %}
                                    {% endif %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for section in sections %}
                                    <a class="dropdown-item"
                                       href='admin?section_id={{section.id}}'>{{section.full_title}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>




                    <div class="form-group row">
                        <div class="col-4">
                            <label for='datepick'>First Class</label>
                            <div class="input-group date">
                                <input id="datepick" name="startDate"
                                       value='{{ dt }}'
                                       type="text" class="form-control">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="input-group mt-3">
                                <div class="custom-file">
                                    <input id="xlsxFile" name='file' type="file" class="custom-file-input">
                                    <label class="custom-file-label" for="xlsxFile">Choose xlsx file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id='updateButton' class='btn btn-secondary' type="submit">Update Roster</button>
                    <button id='csvButton' class="btn btn-secondary" type="button"> CSV Spreadsheet</button>
                </form>
            </div>


            <div id="sectionTab" class="container tab-pane {% if tab=='sections' %}active{% else %}fade{% endif %}" ><br>
                <form method="POST">
                    <input type="hidden" name="tab" value="section"/>
                    <div class="row">
                        <div class="col-2">
                            <input id='yearpick' name='year' class="date form-control yearpick" value="{{year}}" placeholder="Year" style="width: 100px;" type="text">
                        </div>
                        <div class="col-2">
                            <input id="termInput" name="term" value='{{ term }}' type="hidden">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="termButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% if term == 'fall' %}fall{% endif %}
                                    {% if term == 'spring' %}spring{% endif %}

                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" onclick="termUpdate('spring');">spring</a>
                                    <a class="dropdown-item" onclick="termUpdate('fall');">fall</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <button id="addSectionButton" class="btn btn-secondary" type="button">+</button>
                    <table>
                        <thead>
                        <tr>
                            <th>Section Number</th>
                            <th>Title</th>
                        </tr>
                        </thead>
                        <tbody id="sectionsTable">
                        {% for section in sections %}
                            <tr>
                                <td><input name='labNums[]' value='{{section.number}}' type="text"/></td>
                                <td><input name='labTitles[]' value='{{section.title}}' type="text"/></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td><input name='labNums[]' type="text"/></td>
                            <td><input name='labTitles[]' type="text"/></td>
                        </tr>

                        </tbody>
                    </table><br>
                    <button class="btn btn-secondary" type="submit">Save</button>
                </form>
            </div>

        </div>
    </div>
</body>
{% endblock %}
