{% extends "base.html" %}
{% block style %}
<style>

body{
  background-color: #dedeff;
}




</style>
{% endblock %}
{% block pagejs %}
<script language="JavaScript">

const rosterId = {{ roster.id }};
var attendance_modified = true;

function save_attendance (e) {
    var namesEdited = $('#namesEdited').val();
    console.log(namesEdited);
    var formelt = $('#attendance_form')[0];
    var fd = new FormData(formelt);
    fd.append('rosterId', rosterId);
    fd.append('date', $('#datepick').val());
    e.preventDefault();
    console.log(fd);

    $.ajax({
      url: '/roster-attendance',
      data: fd,
      processData: false,
      contentType: false,
      type: 'POST',
      success: function(data){
        attendance_modified = false;
        console.log(data);
      }
    });
}

function generate_groups () {
    if (attendance_modified) {
        alert("There are unsaved changes to the attendance.  Please save before generating groups.");
        return;
    }
    var fd = new FormData();
    fd.append('rosterId', rosterId);
    fd.append('date', $('#datepick').val());
    $.ajax({
      url: '/roster-groups',
      data: fd,
      processData: false,
      contentType: false,
      type: 'POST',
      success: function(data){
        loadGroupTable(data);
        $('#collapseTwo').collapse('show')
      }
    });
}


function loadGroupTable (groups) {
    var $tbody = $('#groupsTbody');
    $tbody.empty();
    groups.forEach(function (group, i, a) {
        var $tr = $('<tr></tr>');
        $tbody.append($tr);
        group.members.forEach(function (member, j, b) {
            $tr.append('<td><img class="studentpic" src="' + member.pic_url +'" width=30 height=30>' + member.preferred_fname+' '+ member.last_name+'</td>');

        });
    });
}

$(function () {
    $('.save-attendance').click(save_attendance);
    $('.student-name-input').on('change', function (e) {
        $('#namesEdited').val('true');
        var inpName = $(this).attr('name');
        var loc = inpName.lastIndexOf('-');  // index follows the -
        var ix = inpName.substr(loc+1);
        $('#nameEditedFlag-'+ix).val('true');
        $(this).attr('readonly',true);
    });
    $('.student-name-input').on('dblclick', function (e) {
        $(this).attr('readonly',false);
    });
    $('.gen-partners').click(generate_groups);
    $('#datepick').datepicker({}).on('changeDate',
        function(e) {
            document.getElementById('lab-date-form').submit();
        });
    $('.attendance_radio').on('change',
        function (e) {
            attendance_modified = true;
            });
    $('.dropdown-toggle').dropdown();
    $('#collapseOne').collapse('show');
    $('#collapseTwo').collapse('hide');
    $(".card").on(
         "click", "img.studentpic", function() {
            this.width = this.width == 300 ? 30 : 300;
            this.height = this.height == 300 ? 30 : 300;
          });

});

</script>
{% endblock %}
{% block content %}
    <head>
        <title>{{ title }} - PartnerGen</title>

    </head>

    <body>
    <form id="lab-date-form" method="get" action="">
        <input id="labNumber" name="lab_number" value='{{ section.number }}' type="hidden">


        <div class="form-row">
            <div class="col-4">
                <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if section %}{{ section.full_title }}{% else %}Select Section{% endif %}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          {% for sec in sections %}
                            <a class="dropdown-item" onclick="$('#labNumber').val('{{sec.number}}'); $('#dropdownMenuButton').html('{{sec.full_title}}'); $('#lab-date-form').submit()" href="#">{{sec.full_title}}</a>
                          {% endfor %}

                      </div>
                </div>


            </div>
            <div class="col-3">
                <div class="input-group date">
                    <input id="datepick" name="date" value='{{ dt }}' type="text" class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>

     <form id='attendance_form' enctype="multipart/form-data" action="" method="post" novalidate>
         <input id="namesEdited" name="namesEdited" value="false" type="hidden">
         <button  class='btn btn-secondary save-attendance' type="button" >Save Attendance</button>
         <button  class='btn btn-secondary gen-partners' type="button" >Generate Partnerships</button>

         <input id="gen_partners" name="gen_partners" value="false" type="hidden">
         <input type="hidden" name="numStudents" value="{{ num_students }}"/>
         <div id='content-accordion' class="accordion">
<!--         <div class="form-row">-->
             <div class="card">
                 <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Attendance for {{ dt }}
                        </button>
                      </h2>
                </div>
                 <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#content-accordion">
                     <div class="card-body">
                        <div class="table-responsive col-md-8 attendance-div">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr><th>Pic</th><th>Student</th><th>Present</th></th><th>Absent</th><th>Attended Other</th></tr>
                                </thead>
                                <tbody>
                                {% for student in students %}
                                    <input id="nameEditedFlag-{{loop.index0}}" type="hidden" name="nameEditedFlag-{{loop.index0}}" value="false">
                                    <tr>
                                        <td><img class="studentpic" src="{{ student.pic_url }}" width="30" height="30"></td>
                                        <td><input type="text" readonly class="form-control student-name-input" name="name-{{loop.index0}}" value="{{ student.preferred_fname }} {{ student.last_name }}">
                                        </td>
                                        <td>
                                            <input class='attendance_radio' name="status-{{loop.index0}}" value='P' type="radio" {% if student.status == 'P' %}checked{% endif %} />
                                        </td>
                                        <td>
                                            <input class='attendance_radio' name="status-{{loop.index0}}" value='A' type="radio" {% if student.status == 'A' %}checked{% endif %} />
                                        </td>
                                        <td>
                                            <input class='attendance_radio' name="status-{{loop.index0}}" value='AO' type="radio" {% if student.status == 'AO' %}checked{% endif %}/>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                     </div>
                 </div>
             </div>
             <div class="card">
                 <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Groups
                        </button>
                      </h2>
                </div>
                 <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#content-accordion">
                    <div class="card-body">

                      <div id='groups_div' class="table-responsive col-md-6 partner-div">
                          <table class="table table-striped table-bordered">
<!--                              <thead><tr><th>Groups</th></tr></thead>-->
                              <tbody id="groupsTbody"></tbody>
                              {% for g in groups %}
                              <tr>
                                  {% for m in g.members %}
                                  <td><img class="studentpic" width=30 height=30 src="{{m.pic_url}}">{{m.preferred_fname}} {{m.last_name}}</td>
                                  {% endfor %}
                              </tr>
                              {% endfor %}
                          </table>
                      </div>
                    </div>
                 </div>
             </div>


         </div>
         <button id='saveButton2' class='btn btn-secondary save-attendance' type="button" >Save Attendance</button>
         <button class='btn btn-secondary gen-partners' type="button" >Generate Partnerships</button>
     </form>
    </body>
{% endblock %}
