{% extends "base.html" %}
{% block style %}
<style>

body{
  background-color: #dedeff;
}




</style>
{% endblock %}
{% block pagejs %}
<script language="JavaScript">

const rosterId = {{ roster.id }};
var attendance_modified = true;

function save_attendance (e) {
    var formelt = $('form')[1];
    console.log(formelt);
    var fd = new FormData(formelt);
    fd.append('rosterId', rosterId);
    fd.append('date', $('#datepick').val());
    e.preventDefault();
    console.log(fd);

    $.ajax({
      url: '/roster-attendance',
      data: fd,
      processData: false,
      contentType: false,
      type: 'POST',
      success: function(data){
        attendance_modified = false;
        console.log(data);
      }
    });
}

function generate_groups () {
    if (attendance_modified) {
        alert("There are unsaved changes to the attendance.  Please save before generating groups.");
        return;
    }
    var fd = new FormData();
    fd.append('rosterId', rosterId);
    fd.append('date', $('#datepick').val());
    $.ajax({
      url: '/roster-groups',
      data: fd,
      processData: false,
      contentType: false,
      type: 'POST',
      success: function(data){
        loadGroupTable(data);
        $('#collapseTwo').collapse('show')
      }
    });
}

function loadGroupTable (groups) {
    var $div = $('#groups_div');
    $div.empty();
    var $tab = $('<table class="table table-striped table-bordered">');
    $div.append($tab);
    var $thead = $('<thead><tr><th>Groups</th></tr></thead>');
    var $tbody = $('<tbody></tbody>');
<!--    $tab.append($thead);-->
    $tab.append($tbody);
    groups.forEach(function (group, i, a) {
        var $tr = $('<tr></tr>');
        $tbody.append($tr);
        group.members.forEach(function (member, j, b) {
            $tr.append('<td>'+member.first_name+' '+ member.last_name+'</td>');
        });
    });
}

$(function () {
    $('#saveButton').click(save_attendance);
    $('#saveButton2').click(save_attendance);
    $('#generateButton').click(generate_groups);
    $('#datepick').datepicker({}).on('changeDate',
        function(e) {
            document.getElementById('lab-date-form').submit();
        });
    $('.attendance_radio').on('change',
        function (e) {
            attendance_modified = true;
            });
    $('.dropdown-toggle').dropdown();
    $('#collapseOne').collapse('show');
    $('#collapseTwo').collapse('hide');
});

</script>
{% endblock %}
{% block content %}
    <head>
        <title>{{ title }} - PartnerGen</title>

    </head>

    <body>
    <form id="lab-date-form" method="get" action="">
        <input id="meeting_time" name="meeting_time" value='{{ meeting_time }}' type="hidden">

        <div class="form-row">
            <div class="col-2">
                <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if roster.meeting_time == 'wed1' %}Wed 1 PM {% endif %}
                        {% if roster.meeting_time == 'wed3' %}Wed 3 PM {% endif %}
                        {% if roster.meeting_time == 'thurs1' %}Thurs 1 PM {% endif %}
                        {% if roster.meeting_time == 'thurs3' %}Thurs 3 PM {% endif %}

                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="$('#meeting_time').val('wed1'); $('#lab-date-form').submit()" href="#">Wed 1 PM</a>
                        <a class="dropdown-item" onclick="$('#meeting_time').val('wed3'); $('#lab-date-form').submit()" href="#">Wed 3 PM</a>
                        <a class="dropdown-item" onclick="$('#meeting_time').val('thurs1'); $('#lab-date-form').submit()" href="#">Thurs 1 PM</a>
                        <a class="dropdown-item" onclick="$('#meeting_time').val('thurs3'); $('#lab-date-form').submit()" href="#">Thurs 3 PM</a>
                      </div>
                </div>


            </div>
            <div class="col-2">
                <div class="input-group date">
                    <input id="datepick" name="date" value='{{ dt }}' type="text" class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>

     <form id='attendance_form' action="" method="post" novalidate>
         <button id='saveButton' class='btn btn-secondary' type="button" >Save Attendance</button>
         <button id='generateButton' class='btn btn-secondary' type="button" >Generate Partnerships</button>

         <input id="gen_partners" name="gen_partners" value="false" type="hidden">
         <input type="hidden" name="numStudents" value="{{ num_students }}"/>
         <div id='content-accordion' class="accordion">
<!--         <div class="form-row">-->
             <div class="card">
                 <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Attendance for {{ dt }}
                        </button>
                      </h2>
                </div>
                 <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#content-accordion">
                     <div class="card-body">
                        <div class="table-responsive col-md-5 attendance-div">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr><th>Student</th><th>Present</th></th><th>Absent</th><th>Attended Other</th></tr>
                    </thead>
                    <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.first_name }} {{ student.last_name }}
                            </td>
                            <td>
                                <input class='attendance_radio' name="status-{{loop.index0}}" value='P' type="radio" {% if student.status == 'P' %}checked{% endif %} />
                            </td>
                            <td>
                                <input class='attendance_radio' name="status-{{loop.index0}}" value='A' type="radio" {% if student.status == 'A' %}checked{% endif %} />
                            </td>
                            <td>
                                <input class='attendance_radio' name="status-{{loop.index0}}" value='AO' type="radio" {% if student.status == 'AO' %}checked{% endif %}/>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
             </div>
                     </div>
                 </div>
             </div>
             <div class="card">
                 <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Groups
                        </button>
                      </h2>
                </div>
                 <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#content-accordion">
                    <div class="card-body">

                      <div id='groups_div' class="table-responsive col-md-4 partner-div">
                      </div>
                    </div>
                 </div>
             </div>
         </div>
         <button id='saveButton2' class='btn btn-secondary' type="button" >Save Attendance</button>
         <button id='csvButton' class='btn btn-secondary' type="button" >Produce CSV Spreadsheet</button>
     </form>
    </body>
{% endblock %}
