{% extends "base.html" %}
{% block style %}
<style>

body{
  background-color: #dedeff;
}




</style>
{% endblock %}
{% block pagejs %}
<script language="JavaScript">
 $(function () {
    $('#datepick').datepicker({}).on('changeDate',
        function(e) {
            document.getElementById('lab-date-form').submit();
        });
    $('.dropdown-toggle').dropdown();

 });

</script>
{% endblock %}
{% block content %}
    <head>
        <title>{{ title }} - PartnerGen</title>

    </head>

    <body>
    <form id="lab-date-form" method="get" action="">
        <input id="meeting_time" name="meeting_time" value='{{ meeting_time }}' type="hidden">

        <div class="form-row">
            <div class="col-2">
                <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if meeting_time == 'wed1' %}Wed 1 PM {% endif %}
                        {% if meeting_time == 'wed3' %}Wed 3 PM {% endif %}
                        {% if meeting_time == 'thurs1' %}Thurs 1 PM {% endif %}
                        {% if meeting_time == 'thurs3' %}Thurs 3 PM {% endif %}

                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="$('#meeting_time').val('wed1'); $('#lab-date-form').submit()" href="#">Wed 1 PM</a>
                        <a class="dropdown-item" onclick="$('#meeting_time').val('wed3'); $('#lab-date-form').submit()" href="#">Wed 3 PM</a>
                        <a class="dropdown-item" onclick="$('#meeting_time').val('thurs1'); $('#lab-date-form').submit()" href="#">Thurs 1 PM</a>
                        <a class="dropdown-item" onclick="$('#meeting_time').val('thurs3'); $('#lab-date-form').submit()" href="#">Thurs 3 PM</a>
                      </div>
                </div>


            </div>
            <div class="col-2">
                <div class="input-group date">
                    <input id="datepick" name="date" value='{{ dt }}' type="text" class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>

     <form id='attendance_form' action="" method="post" novalidate>
         <button class='btn btn-secondary' type="submit" >Save Attendance</button>
         <button class='btn btn-secondary' onclick="$('#gen_partners').val('true'); $('#attendance_form').submit();" >Generate Partnerships</button>

         <input id="gen_partners" name="gen_partners" value="false" type="hidden">
         <input type="hidden" name="numStudents" value="{{ num_students }}"/>
         <div class="form-row">
             <div class="table-responsive col-md-5 attendance-div">
                 <h3>Attendance for {{ dt }} </h3>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr><th>Student</th><th>Present</th></th><th>Absent</th><th>Attended Other</th></tr>
                    </thead>
                    <tbody>
                    {% for student in class_list %}
                        <tr>
                            <td>{{ student.fullname }}
                                <input name="status-{{loop.index0}}" value='' style="display:none;" type="radio"
                                       {% if student.status is none %}
                                       checked
                                       {% endif %}
                                />
                            </td>
                            <td>
                                <input name="status-{{loop.index0}}" value='' type="radio" {% if student.status is none %}checked{% endif %} />
                            </td>
                            <td>
                                <input name="status-{{loop.index0}}" value='A' type="radio" {% if student.status == 'A' %}checked{% endif %} />
                            </td>
                            <td>
                                <input name="status-{{loop.index0}}" value='AO' type="radio" {% if student.status == 'AO' %}checked{% endif %}/>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
             </div>

              <div class="table-responsive col-md-4 partner-div">
                  <h3>Partners</h3>
                  <table class="table table-striped table-bordered">
                        {% if groups is not none %}
                      <thead><tr><th>Groups</th></tr></thead>
                      <tbody>
                      {% for g in groups %}
                      <tr>
                          {% for m in g.members %}
                           <td> {{ m.fullname }}</td>
                          {% endfor %}
                      </tr>
                      {% endfor %}
                      </tbody>
                      {% endif %}
                  </table>
              </div>
          </div>
         <button type="submit" class="btn btn-secondary">Save Attendance</button>
     </form>
    </body>
{% endblock %}
