{% extends "base.html" %}
{% block content %}
    <head>
        <title>{{ title }} - PartnerGen</title>
    </head>

    <body>
     <form action="" method="post" novalidate>
         {{ form.hidden_tag() }}
        <table class="table">
            <thead>
            <tr><th>Student</th><th>Absent</th><th>Attended Other</th></tr>
            </thead>
            <tbody>
            {% for student in the_class %}
                <tr><td>{% if student.nick_name is not none %}
                     {{ student.nick_name }}
                    {% else %}
                    {{ student.fname }}
                    {% endif %}
                    {{ student.lname }}
                    </td>
                    <td>{% if student.status  == 'A' %}
                        <input type="checkbox" checked></input>
                        {% else %}
                        <input type="checkbox"></input>
                        {% endif %}
                    </td>
                    <td>{% if student.status is not none and status  != 'A' %}
                        <input type="checkbox" checked></input>
                        {% else %}
                        <input type="checkbox"></input>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
         <button type="button" class="btn btn-primary">Submit</button>
     </form>
    </body>
{% endblock %}
